.icon {
  transform: rotate(-90deg);
  transition: all 300ms;
  margin-right: 20px;
}

.icon.selected {
  transform: rotate(0deg);
}

ul, li {
  padding: 0;
}

p.menu {
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sub-menu {
  margin-left: 6vw;
  margin-top: 10px;
  list-style-type: none;
  cursor: pointer;
  width: fit-content;
  transition: all 350ms;
  padding: 5px 10px;
  border-radius: 5px;
}

.sub-menu.selected {
  font-weight: bold;
  background-color: rgba(206, 100, 0, 0.548);
  border-radius: 2px;

}
