aside.container {
  height: 85vh;
  padding: 1% 2%;
  width: 25vw;
}

span.text-novo {
  color: rgb(233, 78, 15);
  font-weight: bold;
}

.initials-row {
  border-bottom: 2px solid rgba(124, 124, 124, 0.4);
  padding: 25px 0px;
}
