div.sub-menu-container {
  padding: 15px;
  transition: all 200ms;
  border-bottom: 1px solid rgb(122, 122, 122, 0.50);
}

div.sub-menu-container:hover {
  cursor: pointer;
  background-color: rgb(122, 122, 122, 0.20);
}

div.sub-menu-container.selected {
  background-color: rgb(122, 122, 122, 0.40);
}

p.item-text {
  margin: 2px 10px;
  padding: 2px;
}

p.item-text.owner-name {
  font-size: large;
  font-weight: bold;
}
